app:
  env: production

http:
  host: 127.0.0.1
  port: 8083

db:
  host: localhost
  port: 3306
  user: asllmarket_user
  pass: YOUR_SECURE_PASSWORD
  name: asllmarket_international

jwt:
  secret: YOUR_VERY_SECURE_JWT_SECRET_32_CHARS_MIN
  issuer: asllmarket

cors:
  allowed_origins:
    - https://asllmarket.org
    - https://www.asllmarket.org
  allowed_methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  allowed_headers:
    - Content-Type
    - Authorization
    - X-Requested-With
  allow_credentials: true
